<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.gxateam7.mapper.AdminMapper">
    <insert id="save">
        insert  into admin_info(username,userpass,nickname,role_id,sex,phone,email)
            value(#{username},#{userpass},#{nickname},#{roleId},#{sex},#{phone},#{email})
    </insert>

    <update id="update">
        update  admin_info  set
                                username=#{username},
                                userpass=#{userpass},
                                role_id=#{roleId},
                                nickname=#{nickname},
                                sex=#{sex},
                                phone=#{phone},
                                email=#{email}
        where  id=#{id}
    </update>
    <delete id="delById">
        delete from admin_info where id=#{id}
    </delete>
    <delete id="delBatch">
        delete from admin_info where id in (${arrStr})
    </delete>
    <select id="loginEmail" resultType="com.example.gxateam7.entity.pojo.Admin">
        select  *  from  admin_info
        where
            email=#{email} and userpass=#{password}
    </select>
    <select id="loginPhone" resultType="com.example.gxateam7.entity.pojo.Admin">
        select  *  from  admin_info
        where
            phone=#{param1} and userpass=#{param2}
    </select>
    <select id="findCount" resultType="java.lang.Long">
        select
            count(1)
        from
            admin_info a left join role_info r on a.role_id=r.role_id
        <where>
            <if test="username!=null and username!=''">
                a.username  like concat('%',#{username},'%')
            </if>
        </where>
    </select>
    <select id="findByPage" resultType="com.example.gxateam7.entity.vo.AdminQueryVo">
            select a.id,a.username,a.nickname,a.sex,a.phone,a.email,r.rolename,r.roleremark
            from
                admin_info a left join role_info r on a.role_id = r.role_id
            <where>
                <if test="username!=null and username!=''">
                    a.username  like concat('%',#{username},'%')
                </if>
            </where>
            limit #{page},#{limit}
    </select>
    <select id="findByParentValue" resultType="com.example.gxateam7.entity.pojo.Role">
        select role_id,rolename  from  role_info
    </select>
</mapper>