<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.gxateam7.mapper.AdminMapper">
    <select id="loginEmail" resultType="com.example.gxateam7.entity.Admin">
        select  *  from  admin_info
        where
            email=#{email} and userpass=#{password}
    </select>
    <select id="loginPhone" resultType="com.example.gxateam7.entity.Admin">
        select  *  from  admin_info
        where
            phone=#{param1} and userpass=#{param2}
    </select>
</mapper>