<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace一般定义为 包名+文件名 -->
<mapper namespace="com.example.gxateam7.mapper.TeacherMapper">
<!--    <select id="selectCount" resultType="java.lang.Integer">-->
<!--        select count(Id) from temt7.teacher_info-->
<!--        <where>-->
<!--            <if test="username != null and username != ''">-->
<!--                username like concat('%',#{username},'%')-->
<!--            </if>-->
<!--            <if test="collage != null and collage != ''">-->
<!--                and collage=#{collage}-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->

<!--    <select id="selectUsers" resultType="com.example.gxateam7.entity.pojo.Teacher">-->
<!--        SELECT Id, username, sex,birthday,grade,rank,jobDate,collage,password,phone,roleId FROM temt7.teacher_info-->
<!--        <where>-->
<!--            <if test="username != null and username != ''">-->
<!--                username LIKE CONCAT('%', #{username}, '%')-->
<!--            </if>-->
<!--            <if test="sex != null and sex != ''">-->
<!--                AND sex = #{sex}-->
<!--            </if>-->
<!--            <if test="birthday != null and birthday != ''">-->
<!--                AND birthday = #{birthday}-->
<!--            </if>-->
<!--            <if test="grade != null and grade != ''">-->
<!--                AND grade = #{grade}-->
<!--            </if>-->
<!--            <if test="rank != null and rank != ''">-->
<!--                AND rank = #{rank}-->
<!--            </if>-->
<!--            <if test="jobDate != null and jobDate != ''">-->
<!--                AND jobDate = #{jobDate}-->
<!--            </if>-->
<!--            <if test="collage != null and collage != ''">-->
<!--                AND collage = #{collage}-->
<!--            </if>-->
<!--            <if test="password != null and password != ''">-->
<!--                AND password = #{password}-->
<!--            </if>-->
<!--            <if test="phone != null and phone != ''">-->
<!--                AND phone = #{phone}-->
<!--            </if>-->
<!--            <if test="roleId != null and roleId != ''">-->
<!--                AND roleId = #{roleId}-->
<!--            </if>-->
<!--        </where>-->
<!--        limit #{index},#{limit}-->
<!--    </select>-->
    <select id="findCount" resultType="java.lang.Long">
        select count(1) from teacher_info t left join role_info r on t.role_id = r.role_id
        <where>
            <if test="username != null and username != ''">
                t.username like concat('%',#{username},'%')
            </if>
<!--            <if test="collage != null and collage != ''">-->
<!--                and collage=#{collage}-->
<!--            </if>-->
        </where>
    </select>
    <select id="findByPage" resultType="com.example.gxateam7.entity.vo.TeacherQueryVo">
        SELECT t.*,r.rolename
        FROM teacher_info t left join role_info r on t.role_id = r.role_id
        <where>
            <if test="username != null and username != ''">
                t.username LIKE concat('%', #{username}, '%')
            </if>
<!--            <if test="collage != null and collage != ''">-->
<!--                and collage=#{collage}-->
<!--            </if>-->

        </where>
        limit #{page},#{limit}
    </select>

    <insert id="save">
        insert  into teacher_info(username,sex,birthday,grade,rank,jobDate,collage,password,phone,role_id)
            value(#{username},#{sex},#{birthday},#{grade},#{rank},#{jobDate},#{collage},#{password},#{phone},#{roleId})
    </insert>

    <delete id="delete">
        delete from teacher_info where Id=#{Id}
    </delete>
    <delete id="delById">
        delete from teacher_info where id=#{id}
    </delete>
    <delete id="delBatch">
        delete from teacher_info where id in (${arrStr})
    </delete>


    <update id="update" >
        UPDATE teacher_info
        SET username = #{username}, sex = #{sex},birthday = #{birthday},
            grade = #{grade}, rank = #{rank},jobDate = #{jobDate},
            collage = #{collage},
            password = #{password}, phone = #{phone},role_id = #{roleId}
        WHERE Id = #{id}
    </update>

</mapper>